.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100vh;

}

.content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5rem;
  flex-grow: 1;
  
}

@media all and (max-width: 760px) {
  .content {
    margin: 0;
    width: 100%;
    padding: 0;
  }
}